In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data

  Label       Country    Capital    Area  Population
0    BR        Brazil   Brasilia   8.516      200.40
1    RU        Russia     Moscow  17.100      143.50
2    IN         India  New Dehli   3.286     1252.00
3    CH         China    Beijing   9.597     1357.00
4    SA  South Africa   Pretoria   1.221       52.98

In [6]:
data.describe()

            Area   Population
count   5.000000     5.000000
mean    7.944000   601.176000
std     6.200557   645.261454
min     1.221000    52.980000
25%     3.286000   143.500000
50%     8.516000   200.400000
75%     9.597000  1252.000000
max    17.100000  1357.000000